<section class="jumbotron jumbotron-fluid container-fluid site-section__top hero-banner hero-banner__{{ type is defined ? type : 'default' }}">
  
  <img src="{{ src }}" alt="{{ alt }}" class="img-fluid hero-banner__image">
  
  <div class="container hero-banner__content-wrapper">
    
    {% if contentType == 'shareable-content' %}
      
      <div class="row hero-banner__listing-details">
        <div class="col-sm-12 hero-banner__category">
          <span>{{ category }}</span>
        </div>
        <h1 class="col-sm-12 hero-banner__title">{{ title }}</h1>
        <div class="col-sm-12 hero-banner__address">
          <address><i class="fa fa-map-marker"></i> {{ address }}</address>
        </div>
      </div>
      <div class="row hero-banner__social-content">
        <div class="col-sm-12 col-md-8 js-rating-toggle hero-banner__rating">
          {% if ratings is defined %}
            {% for rating in range(1, ratings) %}
              <i class="fa fa-star" aria-hidden="true"></i>
            {% endfor %}
      
            {% if ratings < 5 %}
              {% for norating in range(1, (5 - ratings )) %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
        
        <div class="col-sm-12 col-md-4 hero-banner__social-icons">
          <button id="listing-{{ id }}" class="btn btn-primary bg-pink btn-icon js-favorite-btn" aria-pressed="false" data-toggle="button">
            <i class="fa fa-heart-o js-favorite-icon"></i>
            Watchlist
          </button>
  
          <div class="btn-group dropup" role="group">
            <button id="shareBtnGroup" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-share"></i>
              SHARE
            </button>
            <div class="dropdown-menu dropdown-menu--inline-items" aria-labelledby="shareBtnGroup">
              <a class="dropdown-item facebook-share" href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="dropdown-item twitter-share" href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="dropdown-item google-share" href="#">
                <i class="fa fa-google-plus"></i>
              </a>
              <a class="dropdown-item pinterest-share" href="#">
                <i class="fa fa-pinterest"></i>
              </a>
              <a class="dropdown-item email-share" href="#">
                <i class="fa fa-envelope"></i>
              </a>
            </div>
          </div>
          
        </div>
        
      </div>
      
    {% elseif contentType == 'icon&title' %}
    
    {% endif %}
    
  </div>
  

</section>