<!-- Nav tabs -->
<ul class="nav nav-tabs listing-details__tabs" role="tablist">
  {% if images is defined %}
    <li class="nav-item listing-details__tab">
      <a class="nav-link active" data-toggle="tab" href="#images-{{ id }}" role="tab">Photos</a>
    </li>
  {% endif %}
  {% if desc is defined %}
    <li class="nav-item listing-details__tab">
      <a class="nav-link" data-toggle="tab" href="#description-{{ id }}" role="tab">Description</a>
    </li>
  {% endif %}
  {% if loc is defined %}
    <li class="nav-item listing-details__tab">
      <a class="nav-link" data-toggle="tab" href="#location-{{ id }}" role="tab">On map</a>
    </li>
  {% endif %}
  {% if videos is defined %}
    <li class="nav-item listing-details__tab">
      <a class="nav-link" data-toggle="tab" href="#videos-{{ id }}" role="tab">Videos</a>
    </li>
  {% endif %}
  {% if reviews is defined %}
    <li class="nav-item listing-details__tab">
      <a class="nav-link" data-toggle="tab" href="#reviews-{{ id }}" role="tab">Reviews</a>
    </li>
  {% endif %}
  {% if discount is defined %}
    <li class="nav-item listing-details__tab">
      <a class="nav-link" data-toggle="tab" href="#discount-{{ id }}" role="tab">Discount</a>
    </li>
  {% endif %}
</ul>

<!-- Tab panes -->
<div class="tab-content listing-details__tab-content">

  {% if images is defined %}
    <div class="tab-pane listing-details__tab-pane active" id="images-{{ id }}" role="tabpanel">
      <div class="slider-for">
        {% for image in images %}
          <img src="{{ image.src }}" alt="{{ image.alt }}" class="img-fluid">
        {% endfor %}
      </div>
      <div class="slider-nav">
        {% for image in images %}
          <img src="{{ image.src }}" alt="{{ image.alt }}" class="img-fluid">
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if desc is defined %}
    <div class="tab-pane listing-details__tab-pane" id="description-{{ id }}" role="tabpanel">
      <div class="description-about">
        <h2>About</h2>
        {{ desc.about }}
      </div>
      <div class="description-features">
        <h2>Features</h2>
        <ul class="description-features-list">
          {% for feature in desc.features %}
            <li>{{ feature }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="description-price">
        <h2>Price</h2>
        <p class="lead">{{ desc.price }}</p>
      </div>
    </div>
  {% endif %}

  {% if loc is defined %}
    <div class="tab-pane listing-details__tab-pane" id="location-{{ id }}" role="tabpanel">
      <div class="gmaps-wrapper" id="map-{{ id }}" data-lng="{{ loc.long }}" data-lat="{{ loc.lat }}"></div>
    </div>
  {% endif %}

  {% if videos is defined %}
    <div class="tab-pane listing-details__tab-pane" id="videos-{{ id }}" role="tabpanel">
      {% for video in videos %}
        {% if video.type == 'youtube' %}
          <iframe id="{{ video.id }}"  class="youtube-video-iframe responsive-embed" src="https://www.youtube.com/embed/{{ video.id }}?enablejsapi=1&version=3&autoplay=0&controls=1&wmode=opaque&rel=0&autohide=1&showinfo=0&wmode=transparent"></iframe>

        {% elseif video.type == 'html5' %}
          <video id="video-{{ video.id }}" class="internal-video responsive-embed img-fluid" aria-label="{{ video.desc }}" poster="{{ video.poster }}" autoplay="false" controls preload="metadata">

            {% if video.webmSrc is defined %}
              <source src="{{ video.webmSrc }}" type="video/webm">
            {% endif %}

            {% if video.mp4Src is defined %}
              <source src="{{ video.mp4Src }}" type="video/mp4">
            {% endif %}

            {% if video.ogvSrc is defined %}
              <source src="{{ video.ogvSrc }}" type="video/ogg">
            {% endif %}

            {% if video.oggSrc is defined %}
              <source src="{{ video.oggSrc }}" type="video/ogg">
            {% endif %}

            {% if video.fallback is defined %}
              <div class="novideo__fallback">
                <img src="{{ video.fallback }}" class="img-fluid" title="Your browser does not support the <video> tag" alt="Your browser does not support the <video> tag" />
              </div>
              <noscript>Your browser does not support JavaScript or JavaScript is turned off.</noscript>
            {% endif %}

          </video>
        {% endif %}

      {% endfor %}
    </div>
  {% endif %}

  {% if reviews is defined %}
    <div class="tab-pane listing-details__tab-pane" id="reviews-{{ id }}" role="tabpanel">
      {% for review in reviews %}
        <div class="card card-outline-primary mb-3 review-wrapper">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <header>
                <img src="{{ review.pic }}" alt="User image" class="img-thumbnail">
                <p class="lead">
                  <a href="/profiles/{{ review.userId }}">{{ review.username }}</a>
                </p>
              </header>
              <p>{{ review.content }}</p>
              <footer>Posted on <cite title="Source Title">{{ review.date }}</cite></footer>
            </blockquote>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if discount is defined %}
    <div class="tab-pane listing-details__tab-pane" id="discount-{{ id }}" role="tabpanel">
      <h2>Discount</h2>
      <p class="lead">
        {{ discount | raw }}
      </p>
    </div>
  {% endif %}

</div>
