{% extends 'WeddingBundle:Regions:base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="container">
    <h3>Account Details - Couple</h3>
    <hr/>
    <div class="row">
        <div class="col-md-6 col-sm-12 bg-white text-center">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'profile-form'} }) }}
                <h4>Profile Picture</h4>
                <hr/>
                <div class="img-div text-center">
                    <img src="http://placekitten.com/g/400/200" />
                </div>
                <h4>Personal Information</h4>
                <hr/>
                <div class="form-inline">
                    <label for="first_name" class="col-sm-3">Couple Name</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.name, { 'attr': {'class': 'profile-input form-control'} }) }}
                    </div>
                </div>
                <div class="form-inline">
                    <label for="last_name"  class="col-sm-3">Email</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.email, { 'attr': {'class': 'profile-input form-control'} }) }}
                    </div>
                </div>
                <div class="form-inline">
                    <label for="last_name"  class="col-sm-3">Phone</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.phone, { 'attr': {'class': 'profile-input form-control'} }) }}
                    </div>
                </div>
                <h4>Wedding Details</h4>
                <hr/>
                <div class="form-inline">
                    <label for="last_name"  class="col-sm-3">Date</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.date, { 'attr': {'class': 'profile-input form-control'} }) }}
                    </div>
                </div>
                <div class="form-inline">
                    <label for="last_name"  class="col-sm-3">Address</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.address, { 'attr': {'class': 'profile-input form-control'} }) }}
                    </div>
                </div>
                <div class="form-inline">
                    <label for="last_name"  class="col-sm-3">District</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.district, { 'attr': {'class': 'profile-input form-control'} }) }}
                    </div>
                </div>
                <div class="form-inline">
                    <label for="last_name"  class="col-sm-3">City</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.city, { 'attr': {'class': 'profile-input form-control'} }) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-default btn-violet">Update Profile</button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6 col-sm-12 bg-white text-center">
            <form id="password-form" class="form-horizontal">
                <h4>Change Password</h4>
                <hr/>
                <div class="form-inline">
                    <label for="last_name"  class="col-sm-3">Old Password</label>
                    <div class="col-sm-9">
                        <input type="text" class="profile-input form-control" id="last_name" name="last_name">
                    </div>
                </div>
                <div class="form-inline">
                    <label for="last_name"  class="col-sm-3">New Password</label>
                    <div class="col-sm-9">
                        <input type="text" class="profile-input form-control" id="last_name" name="last_name">
                    </div>
                </div>
                <div class="form-inline">
                    <label for="last_name"  class="col-sm-3">Confirm</label>
                    <div class="col-sm-9">
                        <input type="text" class="profile-input form-control" id="last_name" name="last_name">
                    </div>
                </div>
                <button type="submit" class="btn btn-default btn-violet">Save Password</button>
            </form>
        </div>
    </div>
</div>






{# <div class="container bg-overlay register">
	<div class="row">
        <div class="col"></div>
        <div class="col">
            {{ form_start(form, { 'attr': {'class': 'register-form'} }) }}
                {{ form_widget(form.roles, { 'attr': {'class': 'text-center'} }) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

                <button class="btn-primary" type="submit">Register!</button>
            {{ form_end(form) }}
        </div>
        <div class="col"></div>
	</div>
</div> #}
{% endblock %}