<section class="container-fluid site-section home__popular-categories">
  
  <div class="container home__popular-categories_container">
    
    <h2 class="home__popular-categories_heading">Popular Categories</h2>
    
    <div class="row home__popular-categories_inner-wrapper">
      
      <div class="col-md-4 col-sm-6 text-center home__popular-categories_category-listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1471834161355-46f16f9f6152?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=',
            alt: 'Category Image',
            title: 'Wedding Venues',
            avail: '12+'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 text-center home__popular-categories_category-listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1471834161355-46f16f9f6152?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=',
            alt: 'Category Image',
            title: 'Wedding Venues',
            avail: '12+'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 text-center home__popular-categories_category-listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1471834161355-46f16f9f6152?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=',
            alt: 'Category Image',
            title: 'Wedding Venues',
            avail: '12+'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 text-center home__popular-categories_category-listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1470321386428-4b1668f21ad3?dpr=1.5&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=',
            alt: 'Category Image',
            title: 'Wedding Venues',
            avail: '12+'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 text-center home__popular-categories_category-listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1470321386428-4b1668f21ad3?dpr=1.5&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=',
            alt: 'Category Image',
            title: 'Wedding Venues',
            avail: '12+'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 text-center home__popular-categories_category-listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1470321386428-4b1668f21ad3?dpr=1.5&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=',
            alt: 'Category Image',
            title: 'Wedding Venues',
            avail: '12+'
          })
        }}
      </div>
      
    </div>
    
    <div class="row home__popular-categories_cta">
      <a href="#" class="btn btn-primary bg-pink">View all suppliers</a>
    </div>
    
  </div>

</section>