<!DOCTYPE html>
<html {% if app.environment == 'dev' %} data-debug="true" {% endif %}>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Perfect Wedding{% endblock %}</title>

  <link rel="stylesheet" href="bundles/assets/plugin/jPages/css/jPages.css">
  <link rel="stylesheet" href="bundles/assets/plugin/jPages/css/animate.css">
  <link rel="stylesheet" href="bundles/assets/plugin/jPages/css/github.css">

  
   {#<link href="{{ asset('bundles/build/app.min.css') }}" rel="stylesheet">#}
  <link href="{{ asset('bundles/build/app.bundle.css') }}" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<header id="main-menu" class="container-fluid site-header fixed-top">
  {{ render(controller('WeddingBundle:Menu:main')) }}
</header>
<main id="content" class="container-fluid site-content">
  {% block body %}{% endblock %}
</main>
<input type="hidden" id="favourite_save_path" value="{{ path('favourite_save') }}"
<footer class="container-fluid site-footer">
  {{ render(controller('WeddingBundle:Footer:index')) }}
</footer>

  </div>
</div>
<script src="{{ asset('bundles/build/vendor.min.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('bundles/build/app.min.js') }}"></script>
<script src="{{ asset('bundles/assets/plugin/blazy/jquery.lazyloadxt.min.js') }}"></script>
</body>
</html>