<section class="container-fluid site-section home__featured-vendor">
  <div class="container home__featured-vendor_container">
    <div class="row section-intro home__featured-vendor_intro">
      <h2 class="section-heading home__featured-vendor_heading">Featured Wedding Vendor</h2>
      <p class="section-tagline home__featured-vendor_lead lead">Many desktop publishing packages and web pages editors now use Lorem Ipsum as their default model text</p>
    </div>
    
    <div class="row home__featured-vendor_content">
      {% for key,product in products %}1
        <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
          {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
            {
              link: {{ product['nid'] }},
              src: '{{ product['field_image'] }}',
              alt: '',
              overlay: 'top-left-featured',
              favorite: true,
              title: '{{ product['title'] }}',
              address: '{{ product['field_address'] }}',
              ratings: 4,
              footerContent: 'Rs {{ product['field_price'] }}',
              footerClass: 'home__featured-vendor_price'
            })
          }}
        </div>      
      {% endfor %}

      
    </div>
    
  </div>
</section>