<section class="container-fluid site-section home__featured-vendor">
  <div class="container home__featured-vendor_container">
    <div class="row section-intro home__featured-vendor_intro">
      <h2 class="section-heading home__featured-vendor_heading">Featured Wedding Vendor</h2>
      <p class="section-tagline home__featured-vendor_lead lead">Many desktop publishing packages and web pages editors now use Lorem Ipsum as their default model text</p>
    </div>
    
    <div class="row home__featured-vendor_content">
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
      {% for key,product in products %}1{% endfor %}
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: '/perfectwedding/web/bundles/build/images/stock_photos/pexels-photo-256737.jpg',
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: '/perfectwedding/web/bundles/build/images/stock_photos/pexels-photo-256737.jpg',
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: '/perfectwedding/web/bundles/build/images/stock_photos/pexels-photo-256737.jpg',
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: '/perfectwedding/web/bundles/build/images/stock_photos/pexels-photo-256737.jpg',
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$300 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: '/perfectwedding/web/bundles/build/images/stock_photos/pexels-photo-256737.jpg',
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $800',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: '/perfectwedding/web/bundles/build/images/stock_photos/pexels-photo-256737.jpg',
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$200 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
    </div>
    
  </div>
</section>