<section class="container-fluid site-section home__top-locs">
  
  <div class="container home__top-locs_container">
    
    <div class="row section-intro home__top-locs_intro">
      <h2 class="section-heading home__top-locs_heading">Top Wedding Locations</h2>
      <p class="section-tagline home__top-locs_lead lead">Many desktop publishing packages and web pages editors now use Lorem Ipsum as their default model text</p>
    </div>
    
    <div class="row home__top-locs_content">
      
      <div class="col-md-4 col-sm-6 home__top-locs_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1471834161355-46f16f9f6152?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=',
            alt: 'Location Image',
            overlay: 'bottom-left',
            overlayContent: 'Moscow'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 home__top-locs_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1471834161355-46f16f9f6152?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=',
            alt: 'Location Image',
            overlay: 'bottom-left',
            overlayContent: 'New York City'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 home__top-locs_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1471834161355-46f16f9f6152?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=',
            alt: 'Location Image',
            overlay: 'bottom-left',
            overlayContent: 'Paris'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 home__top-locs_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1471834161355-46f16f9f6152?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=',
            alt: 'Location Image',
            overlay: 'bottom-left',
            overlayContent: 'Berlin'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 home__top-locs_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1471834161355-46f16f9f6152?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=',
            alt: 'Location Image',
            overlay: 'bottom-left',
            overlayContent: 'Singapore'
          })
        }}
      </div>
      
      <div class="col-md-4 col-sm-6 home__top-locs_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',
            src: 'https://images.unsplash.com/photo-1471834161355-46f16f9f6152?dpr=1.5&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=',
            alt: 'Location Image',
            overlay: 'bottom-left',
            overlayContent: 'Gotham City'
          })
        }}
      </div>
      
    </div>
    
  </div>
</section>