{% extends 'WeddingBundle:Regions:base.html.twig' %}

{% block title %}Listing Search results - {{ category }}{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
		<div class="col-xs-6 col-sm-3">
			<div class="well">
      <h3 align="center">Search Filter</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="location1" class="control-label">Location</label>
            <select class="form-control" name="" id="location1">
              <option value="">Any</option>
              <option value="">1</option>
              <option value="">2</option>
            </select>
          </div>
          <div class="form-group">
            <label for="type1" class="control-label">Type</label>
            <select class="form-control" name="" id="type1">
              <option value="">Any</option>
              <option value="">1</option>
              <option value="">2</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pricefrom" class="control-label">Min Price</label>
            <div class="input-group">
              <div class="input-group-addon" id="basic-addon1">$</div>
              <input type="text" class="form-control" id="pricefrom" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="form-group">
            <label for="priceto" class="control-label">Max Price</label>
            <div class="input-group">
              <div class="input-group-addon" id="basic-addon2">$</div>
              <input type="text" class="form-control" id="priceto" aria-describedby="basic-addon1">
            </div>
          </div>
          <p class="text-center"><a href="#" class="btn btn-danger glyphicon glyphicon-search" role="button"></a></p>
        </form>
      </div>
		</div>
    <div class="col-xs-6 col-sm-9"><br/>
    <div class="row home__featured-vendor_content">
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
    </div>

    </div>
	</div>
</div>
 


{% endblock %}