{% extends 'WeddingBundle:Regions:base.html.twig' %}

{% block title %}Listing Search results - {{ category }}{% endblock %}

{% block body %}
  
  Listing Search results - {{ category }}

    <div class="row home__featured-vendor_content">
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-featured',
            favorite: true,
            title: 'Venue Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$190 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-toprated',
            favorite: true,
            title: 'Wedding Dress Vendor Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $600',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
      <div class="col-md-4 col-sm-6 home__featured-vendor_listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: '#',lazy:true,
            src: asset('bundles/build/images/stock_photos/pexels-photo-256737.jpg'),
            alt: 'Featured Vendor',
            overlay: 'top-left-popular',
            favorite: true,
            title: 'Vendor Photographer Title',
            address: 'Street Address, Name of Town, 12345, Country',
            ratings: 4,
            footerContent: '$290 - $650',
            footerClass: 'home__featured-vendor_price'
          })
        }}
      </div>
    </div>


{% endblock %}